* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body{
    background-color: turquoise;
    align-items: center;
}

h1 {
    margin: 0px;
}

.cabecalho{
    background-color: tomato;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

#title {
    font-size: 24px;
}

.buttons button{
    outline: none;
    border: none;
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px 20px;
    margin: 2px;
}

button:hover{
    background-color: rgb(0, 95, 158);
}

#terco-oracao {
    display: inline-block;
    position: relative;
}

.rightButton {
    position: absolute;
    top: 77%;
    left: 75%;
    transform: translate(-50%, -50%); 
}

#prev {
    position: absolute;
    top: 77%;
    left: 25%;
    transform: translate(-50%, -50%); 
}

#texto{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#assinatura {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 12px;
    margin: 0px;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 50%;
}

#dia-semana {
    color: black;
    font-size: 12px;
    margin: 0px;
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

@media screen and (min-width: 700px) {
  
}